/* ---------------------------------------------------- *\
	CONTENTS
\* ---------------------------------------------------- */



/* ---------------------------------------------------- *\
	BASE
\* ---------------------------------------------------- */
* {
	padding: 0;
	margin: 0;
}

html {
	background: #F2F2F2;
	overflow-y: scroll;
}

.container {
	margin: 0 auto;
}

.pane {
	margin-bottom: 50px;
}

p {
	margin: 20px 0 20px 0;
}

a {
	color: #F45060;
	text-decoration: none;
}

img {
	width: 100%;
}

hr {
		margin: 20px 0 20px 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* ---------------------------------------------------- *\
	TYPOGRAPHY
\* ---------------------------------------------------- */
html {
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight: 300;
	color: #505050;
}

h1,h2,h3 {
	font-weight: 900;
	padding: 0;
	margin: 0;
}

h2 {
	color: #32FF61;
}

h1, h3 {
	color: #F45060;
}

h1:before,h2:before {
	content: "__ ";
}
h1:after,h2:after {
	content: " __";
}

.subtitle {
	font-weight: 100;
	font-size: 1.2em;
	margin: 0 0 20px 0;
}

.standfirst {
	font-style: italic;
}

/* ---------------------------------------------------- *\
	HEADER
\* ---------------------------------------------------- */
.header {
	text-align: center;
}

	.pre-title {
		font-size: 1.2em;
		color: #505050;
		font-weight: 300;
	}

	.title {
		font-size: 3em;
		margin-top: 20px;
	}

	.avatar {
		margin: 0 auto;
		width: 100px;
		height: 100px;
		background: url('img/avatar-bw.png') center;
		background-size: contain;
	}
	.avatar:hover {
		background: url('img/avatar-colour.png') center;
		background-size: contain;
		-webkit-transition: 2s;
		-moz-transition: 2s;
		-o-transition: 2s;
		transition: 2s;
	}

.goto-top {
	width: 1.4em;
	height: 1.2em;
	background: #FFFFFF;
	position: absolute;
	left: 0;
	display: block;
	border-top: 0.2em solid red;
	display: none;
}

#main-menu {
	text-align: center;
	padding: 20px;
	background: #F2F2F2;
}

nav {
	margin: 0 auto;
	background: #F2F2F2;
}

	nav ul {
		list-style-type: none;
	}

	nav li {
		display: inline;
		font-size: 1.2em;
	}

	nav li:after {
		content: " / ";
		color: #F45060;
	}

	nav li:last-child:after {
		content: "";
	}

	nav a {
		text-decoration: none;
		padding: 0 0.2em 0 0.2em;
	}

	nav a:visited {
		color: #F45060;
	}
	
	nav a:hover {
		background-color: #F45060;
		color: #FFFFFF;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}

.navbar-fixed {
	top: 0;
	position: fixed;
	overflow: auto;
	width: 900px;
	box-shadow: 0 6px 4px -4px rgba(0,0,0,0.3);
	z-index: 100;
}

.nav-push {
	display:none;
	height: 64px;
	width: 100%;
}

/* ---------------------------------------------------- *\
	CONTENT
\* ---------------------------------------------------- */
.content {
	padding-right: 10px;
}

.content h2 {
	margin-bottom: 20px;
}

#recent-work {
	background: #FFFFFF;
}

.col_1, .col_2, .col_3 {
	background: #FFFFFF;
}

	/* ---------------------------------------------------- *\
  	BLOG
	\* ---------------------------------------------------- */
	.hr-blog {
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

/* ---------------------------------------------------- *\
	FOOTER
\* ---------------------------------------------------- */
span.copyright {
	display: block;
	font-size: 0.8em;
	text-align: center;
}

/* ---------------------------------------------------- *\
	RESPONSIVE
\* ---------------------------------------------------- */

@media handheld, only screen and (min-width: 0px) and (max-width: 900px) {
	
	#main-menu {
		width: 100%;
	}

	.goto-top {
		margin-left: 1.2em;
	}

	.content h2, .content h3, .standfirst {
		text-align: center;
	}
}


@media handheld, only screen and (min-width: 0px) and (max-width: 700px) {
	.col-1-3 {
		width: 50%;
	}

	.col-1-3:last-of-type {
		width: 100%;
	}

	#recent-work .col-1-3 {
		width: 33.33%
	}

}

@media handheld, only screen and (min-width: 0px) and (max-width: 500px) {
	.title {
		font-size: 2em;
	}

	.col-1-3, #recent-work .col-1-3 {
		width: 100%;
		background: #F2F2F2;
	}

	#recent-work .col-1-3 {
		padding: 0 20%;
	}

	#recent-work {
		background: #F2F2F2;
	}

	.goto-top {
		width: 30px;
		height: 30px;
		top: 1.1em;
	}

}
