/* ---------------------------------------------------- *\
	FONT-FACE
\* ---------------------------------------------------- */

@font-face {
    font-family: 'MonoSocialIconsFont';
    src: url('font/MonoSocialIconsFont-1.10.eot');
    src: url('font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
	font-size: 3em;
	color: #9e9e9e;
}

.symbol:hover {
	color: #F45060;
	transition: 1.2s;
	-webkit-transition: 1.2s;
	-moz-transition: 1.2s;
	-o-transition: 1.2s;
}

.symbol, a.symbol:before {
    font-family: 'MonoSocialIconsFont';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}


/* ---------------------------------------------------- *\
	BASE
\* ---------------------------------------------------- */
* {
	padding: 0;
	margin: 0;
}

html {
	background: #F2F2F2;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
/* -moz-font-smoothing: antialiased; - No longer available in FF */
	font-smoothing: antialiased;
}

.container {
	margin: 0 auto;
}

p {
	margin: 20px 0 20px 0;
}

a {
	color: #F45060;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: 100%;
}

hr {
	margin: 20px 0 20px 0;
    border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.hr-1col {
	display: none;
}

.visit-site {
	font-weight: bold;
	padding: 10px 20px;
	background: #F45060;
	color: #FFFFFF;
	border-bottom: 4px solid #CC3333;
}

.visit-site:hover {
	background: #FF0066;
	transition: 1s;
}

/* ---------------------------------------------------- *\
	TYPOGRAPHY
\* ---------------------------------------------------- */
html {
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight: 300;
	color: #505050;
}

p {	font-size: 1.2em; }
h2 { font-size: 2em;}
h3 { font-size: 1.4em; }

	h1,h2,h3 {
		font-weight: 900;
		padding: 0;
		margin: 0;
		text-rendering: optimizeLegibility;
	}
	
	h2 {
		color: #6194BC;
	}
	
	h1, h3 {
		color: #F45060;
	}
	
	h1:before {
		content: "__ ";
	}
	h1:after {
		content: " __";
	}

.subtitle {
	font-weight: 100;
	font-size: 1.2em;
	margin: 0 0 20px 0;
}

/* ---------------------------------------------------- *\
	HEADER
\* ---------------------------------------------------- */
.header {
	text-align: center;
}

	.pre-title {
		font-size: 1.2em;
		color: #505050;
		font-weight: 300;
	}

	.title {
		font-size: 3em;
		/*margin-top: 20px;*/
	}

	.avatar {
		margin: 0 auto;
		width: 100px;
		height: 100px;
		background: url('img/avatar-bw.png') center;
		background-size: contain;
	}
	.avatar:hover {
		background: url('img/avatar-colour.png') center;
		background-size: contain;
		-webkit-transition: 2s;
		-moz-transition: 2s;
		-o-transition: 2s;
		transition: 2s;
	}

.goto-top {
	width: 1.4em;
	height: 1.2em;
	background: #FFFFFF;
	position: absolute;
	left: 0;
	display: block;
	border-top: 0.2em solid red;
	display: none;
}

#main-menu {
	text-align: center;
	padding: 20px;
	background: #F2F2F2;
}

nav {
	margin: 0 auto;
	background: #F2F2F2;
}

	nav ul {
		list-style-type: none;
	}

	nav li {
		display: inline;
		font-size: 1.2em;
	}

	nav li:after {
		content: " / ";
		color: #F45060;
	}

	nav li:last-child:after {
		content: "";
	}

	nav a {
		text-decoration: none;
		padding: 0 0.2em 0 0.2em;
	}

	nav a:visited, span a:visited {
		color: #F45060;
	}
	
	nav a:hover, span a:hover {
		background-color: #F45060;
		color: #FFFFFF;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}

.navbar-fixed {
	top: 0;
	position: fixed;
	overflow: auto;
	width: 900px;
	box-shadow: 0 6px 4px -4px rgba(0,0,0,0.3);
	z-index: 100;
}

.nav-push {
	display:none;
	height: 64px;
	width: 100%;
}

/* ---------------------------------------------------- *\
	CONTENT
\* ---------------------------------------------------- */
.content {
	padding-right: 30px;
}

.content h2 {
	margin-bottom: 20px;
}

.work-grid {
	/*background: #FFFFFF;*/
}

.col_1, .col_2, .col_3 {
	/*background: #FFFFFF;*/
}

.viewport {
	margin-bottom: 27px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
   	height: 100%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .dark-background em {
        color: #ccc;
    }

	/* ---------------------------------------------------- *\
  	BLOG
	\* ---------------------------------------------------- */
	hr.hr-blog {
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

.work-grid img {
	width: 100%;
}

/* ---------------------------------------------------- *\
	FOOTER
\* ---------------------------------------------------- */
span.copyright {
	display: block;
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 10px;
}

.social-links {
	text-align: center;
	margin: 20px 0 20px 0;
}

/* ---------------------------------------------------- *\
	RESPONSIVE
\* ---------------------------------------------------- */

@media handheld, only screen and (min-width: 0px) and (max-width: 900px) {
	
	#main-menu {
		width: 100%;
	}

	.goto-top {
		margin-left: 1.2em;
	}

	.content {
		padding: 0 30px;
	}

	h2 {
		text-align: center;
	}

	.col-1-3 {
		width: 50%;
	}
	
}


@media handheld, only screen and (min-width: 0px) and (max-width: 700px) {
	.col-1-3 {
		width: 50%;
	}

	.col-1-3:last-of-type {
		width: 100%;
	}

	.work-grid .col-1-3 {
		width: 50%;
	}

	.work-grid.col-1-3:last-of-type {
		width: 50%;
		margin: 0 auto;
	}

}

@media handheld, only screen and (min-width: 0px) and (max-width: 500px) {
	.title {
		font-size: 2.4em;
	}
	
	h1:before {
		content: "";
	}
	h1:after{
		content: "";
		}

	#main-menu {
		padding: 7px 0 5px 0;
		height: 40px;
	}

	nav a {
		font-size: 0.8em;
	}

	.goto-top {
		width: 30px;
		height: 30px;
		top: 5px;
	}
	
	.nav-push {
		height: 40px;
	}
	
	/* Fix stuck hover state on touch devices */
	a.goto-top:hover {
		-webkit-transition: 0s;
		-moz-transition: s;
		-o-transition: 0s;
		transition: 0s;	
		background: #FFFFFF;
	}

	.col-1-3, .work-grid .col-1-3 {
		width: 100%;
		background: #F2F2F2;
	}
	
	.content p {
		text-align: justify;
	}
	
	.work-grid {
		background: #F2F2F2;
	}
	
	.work-grid .col-1-3 {
		padding: 0 10%;
		margin-bottom: 30px;
	}
	
	/*.grid-pad > [class*='col-']:last-of-type {
	padding-right: 10%;	*/
	
	.grid-pad {
		padding: 20px;
	}

	#recent-posts .col-1-3{
		padding-right: 0;
	}
	
	hr.hr-1col {
		display: block;
	}

	

}
