/* ---------------------------------------------------- *\

\* ---------------------------------------------------- */
html {
	background: url('img/London_title-background.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.container {
	margin: 0;
	padding: 0;
}

.header_nav {
	background: #000;
	color: #fff;
	height: 100px;
	position: fixed;
	width: 100%;
}

	.header_nav ul {
		margin: 0;
	}

	.header_nav li {
		display: inline;
		list-style: none;
	}

#bg_viewport {
	height: 500px;
	width: 100%;
}

#recent_work {
	width: 100%;
	height: 500px;
	background: blue;
}

#recent_posts {
	height: 500px;
	background: pink;
	width: 100%;
}

footer {
	height: 300px;
	width: 100%
}
	
	#footer_links {
		height: 200px;
		width: 100%;
		background: green;
	}
