main.ng-enter {
	/* transition on enter for .5s */
	transition: 1s;

	/* start with opacity 0 (invisible) */
	opacity: 0;
	position: relative;
	top: 10px;
}

/* end 'enter' transition */
main.ng-enter-active {
	/* end with opacity 1 (fade in) */
	opacity: 1;
	top: 0;
}