<p>
	Hello, I'm Jonathan Wong. <br>
	A front end developer based in London. <br>
	Check out some things I've <a class="work" href="/work">worked on</a>. <br>
</p>
<p>
	You can find me working <a class="job" href="//wearesuburb.com" target="_blank">here</a>, <br>
	Hanging out at <a class="github" href="//github.com/jkjwong" target="_blank">Github</a>, <br>
	Speaking on <a class="twitter" href="//twitter.com/jonathankjw" target="_blank">Twitter</a> and <br>
	Showing off on <a class="instagram" href="//instagram.com/j_dub" target="_blank">Instagram</a>.
</p>
