<nav>
	<a href="/" class="btn-nav"><< Home</a>
</nav>
<section ui-view class="page-work">
	<h2>Some things I've worked on...</h2>
	<div class="grid-wrapper">
		<div class="work-item grid-col col-1-2"
		     ng-repeat="project in work.portfolio">
			<div class="work-item-inner"
			     ng-style="{'background-image':'url(/images/{{project.slug}}/thumbnail.jpg)'}">
				<a ui-sref="work.detail({id: project.slug,project: project})" class="overlay">
					<h3>{{project.title}}</h3>
				</a>
			</div>
		</div>
	</div>
</section>
